<div class="list-group-item list-group-item-action">
    <div class="d-flex">
        <img class="avatar avatar-md rounded-circle my-auto me-3" src="../assets/images/faces/3.jpg" alt="Image description">
        <div class="flex-grow-1">
            <div class="d-flex align-items-center">
                <div class="mt-0">
                    <h5 class="mb-1 fs-15">{{name}}</h5>
                    <p class="mb-0 fs-13 text-muted">User ID: {{id}}<span class="text-success ms-2 d-inline-block">{{status}}</span></p>
                </div>
                <div class="ms-auto w-45 fs-16 mt-2">
                    <div id="spark1" class="w-100"></div>
                </div>
            </div>
        </div>
    </div>
</div>
