<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <div class="my-auto">
                <h5 class="page-title fs-21 mb-1">Commande details</h5>
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Eelements</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Commande details</li>
                    </ol>
                </nav>
            </div>

        </div>
        <!-- Page Header Close -->

        <!-- Start::row-1 -->
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Shopping Cart-->
                        <div class="product-details table-responsive text-nowrap">
                            <table class="table table-bordered table-hover mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-start">Product</th>
                                        <th>Quantity</th>
                                        <th>Prize</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Utilisez *ngFor pour parcourir chaque ligne de commande -->
                                    <tr *ngFor="let ligne of lignesCommande">
                                        <td>
                                            <div class="media">
                                                <div class="card-aside-img">
                                                    <!-- Utilisez ligne.product.image pour l'image du produit -->
                                                    <img  alt="img" class="h-60 w-60">
                                                </div>
                                                <div class="media-body">
                                                    <div class="card-item-desc mt-0">
                                                        <!-- Utilisez ligne.product.name pour le nom du produit -->
                                                        <h6 class="fw-medium mt-0 text-uppercase fs-14"></h6>
                                                        <!-- Utilisez ligne.product.size pour la taille du produit -->
                                                        <dl class="card-item-desc-1">
                                                          <dt>Size: </dt>
                                                          <dd class="mb-0"></dd>
                                                        </dl>
                                                        <!-- Utilisez ligne.product.color pour la couleur du produit -->
                                                        <dl class="card-item-desc-1">
                                                          <dt>Color: </dt>
                                                          <dd class="mb-0"></dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                       <!-- Utilisez ligne.quantity pour la quantité de produit -->
                                       <td class="text-center product-quantity-container">
                                        <div class="handle-counter input-group rounded flex-nowrap">
                                            {{ ligne.quantite}}
                                        </div>
                                       
                                        </td>
                                        <!-- Utilisez ligne.price pour le prix de la ligne de commande -->
                                        <td class="text-center text-lg text-medium fw-bold  fs-15">
                                          {{ ligne.produitUnitaire * ligne.quantite}}
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between flex-wrap gap-2">
                            <div>
                                <a class="btn btn-secondary" href="products.html"><i class="fe fe-corner-up-left me-2"></i>Retour vers liste des commandes</a>
                            </div>
                            <div class="btn-list">
                                <a class="btn btn-outline-primary" href="check-out.html"><i class="fe fe-log-in me-2"></i>Valider</a>
                            </div>
                        
                    </div>
                </div>
                </div>
        </div>
        <!--End::row-1 -->

    </div>
</div>