<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
      <!-- Page Header -->
      <div
        class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb"
      >
        <div class="my-auto">
          <h5 class="page-title fs-21 mb-1">Retours</h5>
          <nav>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Elements</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Retours</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- Start:: row-2 -->
      <div class="row">
        <div class="col-xl-12">
          <div class="card custom-card">
            <div class="card-header">
              <div class="card-title">Table With Pagination</div>
            </div>
            <div class="card-body">
              <div id="grid-pagination">
                <div
                  role="complementary"
                  class="gridjs gridjs-container"
                  style="width: 100%"
                >
                  <div class="gridjs-wrapper" style="height: auto">
                    <table role="grid" class="gridjs-table" style="height: auto">
                      <thead class="gridjs-thead">
                        <tr class="gridjs-tr">
                          <th
                            data-column-id="date"
                            class="gridjs-th"
                            style="width: 150px"
                          >
                            <div class="gridjs-th-content">Date de retour</div>
                          </th>
                          <th
                            data-column-id="Client"
                            class="gridjs-th"
                            style="width: 150px"
                          >
                            <div class="gridjs-th-content">Client</div>
                          </th>
                          <th
                            data-column-id="email"
                            class="gridjs-th"
                            style="width: 200px"
                          >
                            <div class="gridjs-th-content">Email</div>
                          </th>
                          <th
                            data-column-id="id"
                            class="gridjs-th"
                            style="width: 150px"
                          >
                            <div class="gridjs-th-content">ID</div>
                          </th>
                          <th
                            data-column-id="Type"
                            class="gridjs-th"
                            style="width: 100px"
                          >
                            <div class="gridjs-th-content">Type de retour</div>
                          </th>
                          <th
                            data-column-id="Comment"
                            class="gridjs-th"
                            style="width: 100px"
                          >
                            <div class="gridjs-th-content">Commentaire</div>
                          </th>
                          
                        </tr>
                      </thead>
                      <tbody class="gridjs-tbody">
                        <tr class="gridjs-tr">
                          <td data-column-id="date" class="gridjs-td">
                            24-10-2022 12:47
                          </td>
                          <td data-column-id="Client" class="gridjs-td">john</td>
                          <td data-column-id="email" class="gridjs-td">
                            john123@gmail.com
                          </td>
                          <td data-column-id="id" class="gridjs-td">#12012</td>
                          <td data-column-id="Type" class="gridjs-td">broken</td>
                          <td data-column-id="Comment" class="gridjs-td">it's too baggy</td>
                        </tr>
                        <tr class="gridjs-tr">
                          <td data-column-id="date" class="gridjs-td">
                            12-09-2022 04:24
                          </td>
                          <td data-column-id="Client" class="gridjs-td">mark</td>
                          <td data-column-id="email" class="gridjs-td">
                            markzenner23@gmail.com
                          </td>
                          <td data-column-id="id" class="gridjs-td">#12013</td>
                          <td data-column-id="Type" class="gridjs-td">size problems : too small </td>
                          <td data-column-id="Comment" class="gridjs-td">broken pieces </td>
                        </tr>
                        <tr class="gridjs-tr">
                          <td data-column-id="date" class="gridjs-td">
                            18-11-2022 18:43
                          </td>
                          <td data-column-id="Client" class="gridjs-td">eoin</td>
                          <td data-column-id="email" class="gridjs-td">
                            eoin1992@gmail.com
                          </td>
                          <td data-column-id="id" class="gridjs-td">#12014</td>
                          <td data-column-id="Type" class="gridjs-td">quality</td>
                          <td data-column-id="Comment" class="gridjs-td">I dont like it</td>
                        </tr>
                        <tr class="gridjs-tr">
                          <td data-column-id="date" class="gridjs-td">
                            10-09-2022 10:35
                          </td>
                          <td data-column-id="Client" class="gridjs-td">
                            sarahcdd
                          </td>
                          <td data-column-id="email" class="gridjs-td">
                            sarahcdd129@gmail.com
                          </td>
                          <td data-column-id="id" class="gridjs-td">#12015</td>
                          <td data-column-id="Type" class="gridjs-td">others</td>
                          <td data-column-id="Comment" class="gridjs-td">null</td>
                        </tr>
                        <tr class="gridjs-tr">
                          <td data-column-id="date" class="gridjs-td">
                            27-10-2022 09:55
                          </td>
                          <td data-column-id="Client" class="gridjs-td">afshin</td>
                          <td data-column-id="email" class="gridjs-td">
                            afshin@example.com
                          </td>
                          <td data-column-id="id" class="gridjs-td">#12016</td>
                          <td data-column-id="Type" class="gridjs-td">size problems : too big</td>
                          <td data-column-id="Comment" class="gridjs-td">je sais pas </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="gridjs-footer">
                    <div class="gridjs-pagination">
                      <div
                        role="status"
                        aria-live="polite"
                        class="gridjs-summary"
                        title="Page 1 of 1"
                      >
                        Showing <b>1</b> to <b>5</b> of <b>5</b> results
                      </div>
                      <div class="gridjs-pages">
                        <button
                          tabindex="0"
                          role="button"
                          disabled=""
                          title="Previous"
                          aria-label="Previous"
                          class=""
                        >
                          Previous</button
                        ><button
                          tabindex="0"
                          role="button"
                          class="gridjs-currentPage"
                          title="Page 1"
                          aria-label="Page 1"
                        >
                          1</button
                        ><button
                          tabindex="0"
                          role="button"
                          disabled=""
                          title="Next"
                          aria-label="Next"
                          class=""
                        >
                          Next
                        </button>
                      </div>
                    </div>
                  </div>
                  <div id="gridjs-temp" class="gridjs-temp"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End:: row-2 -->
    </div>
  <!-- End::app-content -->