



    <!-- Start Switcher -->
    <router-outlet></router-outlet>
    <!-- End Switcher -->


    <!-- Loader -->

        

        <!-- Start::Off-canvas sidebar-->
  
        <!-- End::Off-canvas sidebar-->

        <!-- Message Modal -->

        <!--End modal -->

        <!--Video Modal -->

        <!--End modal -->

        <!-- Audio Modal -->

        <!--End modal -->
        <!-- Start::app-sidebar -->


        <!-- End::app-sidebar -->

        <!-- Start::app-content -->

        <!-- End::app-content -->

        <!-- Footer Start -->

        <!-- Footer End -->

    

    
    <!-- Scroll To Top -->

