<!-- <div class="row"> -->
    <!-- <div class="col-md-12 col-lg-12 col-xl-7"> -->
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title mb-0">Order status</h4>
                    <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-light bg-transparent rounded-pill" data-bs-toggle="dropdown"><i
                        class="fe fe-more-horizontal"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);">Action</a>
                        <a class="dropdown-item" href="javascript:void(0);">Another
                            Action</a>
                        <a class="dropdown-item" href="javascript:void(0);">Something Else
                            Here</a>
                    </div>
                </div>
                <p class="fs-12 text-muted mb-0">Order Status and Tracking. Track your order from ship date to arrival. To begin, enter your order number.</p>
            </div>
            <div class="card-body">
                <div class="total-revenue">
                    <div>
                        <h4>0</h4>
                        <label><span class="bg-primary"></span>success</label>
                    </div>
                    <div>
                        <h4>0</h4>
                        <label><span class="bg-danger"></span>Pending</label>
                    </div>
                    <div>
                        <h4>0</h4>
                        <label><span class="bg-warning"></span>Failed</label>
                    </div>
                    </div>
                <div id="Sales-bar" class="sales-bar mt-4"></div>
            </div>
        </div>
    <!-- </div>
    <div class="col-lg-12 col-xl-5">
       
    </div> -->
<!-- </div> -->




