<div class="main-content app-content">
    <div class="container-fluid">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <div class="my-auto">
                <h5 class="page-title fs-21 mb-1">Paiement</h5>
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Paiement</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header Close -->

        <!-- Start::row-1 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header bg-transparent border-bottom-0">
                        <div>
                            <label class="main-content-label mb-2">Paiement</label> <
                            <span class="d-block fs-12 mb-0 text-muted">The Project Budget is a tool used by project managers to estimate the total cost of a project</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">         
                            <ul class="nav nav-tabs tab-style-2 d-sm-flex d-block border-bottom border-block-end-dashed justify-content-center" id="myTab1" role="tablist">
                                <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="delivered-tab" data-bs-toggle="tab"
                                                    data-bs-target="#delivery-tab-pane" type="button" role="tab"
                                                    aria-controls="delivered-tab" aria-selected="false"><i
                                                        class="ri-number-4 me-2 align-middle fs-12 d-inline-flex align-items-center justify-content-center"></i>Payments</button>
                                </li>
                            </ul>
                            <div class="row">
                            <div class="col-xl-8 mx-auto">
                                <div class="tab-content border-lg border-0 m-0 m-lg-4" id="myTabContent">
                                    <div class="tab-pane fade border-0 p-0" id="delivery-tab-pane" role="tabpanel"
                                                        aria-labelledby="delivery-tab-pane" tabindex="0">
                                                        <div class="p-4">
                                                            <div class="">
                                                                <h5 class="text-start mb-2">Payments</h5>
                                                                <p class="mb-4 text-muted fs-13 ms-0 text-start">Lorem Ipsum has been the industry's standard dummy text ever since</p>
                                                            </div>
                                                            <div class="card-pay">
                                                                <ul class="tabs-menu nav">
                                                                    <li class=""><a href="#tab20" class="active" data-bs-toggle="tab"><i class="fa fa-credit-card"></i> Credit Card</a></li>
                                                                    <li><a href="#tab21" data-bs-toggle="tab" class=""><i class="fab fa-paypal"></i>  Paypal</a></li>
                                                                    <li><a href="#tab22" data-bs-toggle="tab" class=""><i class="fa fa-university"></i>  Bank Transfer</a></li>
                                                                </ul>
                                                                <div class="tab-content">
                                                                    <div class="tab-pane border-0 active show" id="tab20">
                                                                        <div class="form-group">
                                                                            <label class="form-label">CardHolder Name</label>
                                                                            <input type="text" class="form-control" placeholder="First Name">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="form-label">Card number</label>
                                                                            <div class="input-group">
                                                                                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." aria-describedby="button-addon2">
                                                                                <button class="btn btn-primary" type="button" id="button-addon2">
                                                                                    <i class="fab fa-cc-visa"></i> &nbsp;
                                                                                    <i class="fab fa-cc-amex"></i> &nbsp;
                                                                                    <i class="fab fa-cc-mastercard"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-8">
                                                                                <div class="form-group">
                                                                                    <label class="form-label">Expiration</label>
                                                                                    <div class="input-group">
                                                                                        <input type="number" class="form-control" placeholder="MM" name="Month">
                                                                                        <input type="number" class="form-control" placeholder="YY" name="Year">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-4">
                                                                                <div class="form-group">
                                                                                    <label class="form-label">CVV <i class="fa fa-question-circle"></i></label>
                                                                                    <input type="number" class="form-control" required="">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane border-0" id="tab21">
                                                                        <p class="mt-4">Paypal is easiest way to pay online</p>
                                                                        <p><a href="javascript:void(0);" class="btn btn-primary"><i class="fab fa-paypal"></i> Log in my Paypal</a></p>
                                                                        <p class="mb-0"><strong>Note:</strong> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                                                    </div>
                                                                    <div class="tab-pane border-0" id="tab22">
                                                                        <p class="mt-4">Bank account details</p>
                                                                        <dl class="card-text">
                                                                            <dt>BANK: </dt>
                                                                            <dd> THE UNION BANK 0456</dd>
                                                                        </dl>
                                                                        <dl class="card-text">
                                                                            <dt>Account number: </dt>
                                                                            <dd> 67542897653214</dd>
                                                                        </dl>
                                                                        <dl class="card-text">
                                                                            <dt>IBAN: </dt>
                                                                            <dd>543218769</dd>
                                                                        </dl>
                                                                        <p class="mb-0"><strong>Note:</strong> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="px-4 py-3 border-top border-block-start-dashed d-sm-flex justify-content-between">
                                                            <button type="button" class="btn btn-light m-1" id="back-personal-trigger3">Previous</button>
                                                            <button type="button" class="btn btn-primary m-1" id="continue-finished-tab">Next</button>
                                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End::row-1 -->

    </div>
</div>