<div class="col-xl-4 col-md-12 col-lg-12">
    <div class="card overflow-hidden">
        <div class="card-header pb-1">
            <h3 class="card-title mb-2">Recent Customers</h3>
            <p class="fs-12 mb-0 text-muted">A customer is an individual or business that purchases the goods service has evolved to include real-time</p>
        </div>
        <div class="card-body p-0 customers mt-1">
            <div class="list-group list-lg-group list-group-flush">
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex">
                        <img class="avatar avatar-md rounded-circle my-auto me-3" src="../assets/images/faces/3.jpg" alt="Image description">
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center">
                                <div class="mt-0">
                                    <h5 class="mb-1 fs-15">Samantha Melon</h5>
                                    <p class="mb-0 fs-13 text-muted">User ID: #1234 <span class="text-success ms-2 d-inline-block">Paid</span></p>
                                </div>
                                <div class="ms-auto w-45 fs-16 mt-2">
                                    <div id="spark1" class="w-100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action br-t-1">
                    <div class="d-flex">
                        <img class="avatar avatar-md rounded-circle my-auto me-3" src="../assets/images/faces/11.jpg" alt="Image description">
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center">
                                <div class="mt-1">
                                    <h5 class="mb-1 fs-15">Jimmy Changa</h5>
                                    <p class="mb-0 fs-13 text-muted">User ID: #1234 <span class="text-danger ms-2 d-inline-block">Pending</span></p>
                                </div>
                                <div class="ms-auto w-45 fs-16 mt-2">
                                    <div id="spark2" class="w-100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action br-t-1">
                    <div class="d-flex">
                        <img class="avatar avatar-md rounded-circle my-auto me-3" src="../assets/images/faces/17.jpg" alt="Image description">
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center">
                                <div class="mt-1">
                                    <h5 class="mb-1 fs-15">Gabe Lackmen</h5>
                                    <p class="mb-0 fs-13 text-muted">User ID: #1234 <span class="text-danger ms-2 d-inline-block">Pending</span></p>
                                </div>
                                <div class="ms-auto w-45 fs-16 mt-2">
                                    <div id="spark3" class="w-100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action br-t-1">
                    <div class="d-flex">
                        <img class="avatar avatar-md rounded-circle my-auto me-3" src="../assets/images/faces/15.jpg" alt="Image description">
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center">
                                <div class="mt-1">
                                    <h5 class="mb-1 fs-15">Manuel Labor</h5>
                                    <p class="mb-0 fs-13 text-muted">User ID: #1234 <span class="text-success ms-2 d-inline-block">Paid</span></p>
                                </div>
                                <div class="ms-auto w-45 fs-16 mt-2">
                                    <div id="spark4" class="w-100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action br-t-1 br-be-7 br-bs-7">
                    <div class="d-flex">
                        <img class="avatar avatar-md rounded-circle my-auto me-3" src="../assets/images/faces/6.jpg" alt="Image description">
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center">
                                <div class="mt-1">
                                    <h5 class="mb-1 fs-15">Sharon Needles</h5>
                                    <p class="b-0 fs-13 text-muted mb-0">User ID: #1234 <span class="text-success ms-2 d-inline-block">Paid</span></p>
                                </div>
                                <div class="ms-auto w-45 fs-16 mt-2">
                                    <div id="spark5" class="w-100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>