<!-- <div class="col-xl-4 col-md-12 col-lg-12"> -->
    <div class="card overflow-hidden">
        <div class="card-header pb-1">
            <h3 class="card-title mb-2">Recent Customers</h3>
            <p class="fs-12 mb-0 text-muted">A customer is an individual or business that purchases the goods service has evolved to include real-time</p>
        </div>
        <div class="card-body p-0 customers mt-1">
            <div class="list-group list-lg-group list-group-flush">
                    <app-single-cust name="Jack" id="12524" status="pending"></app-single-cust>
            </div>
        </div>
    </div>
<!-- </div> -->