<div class="main-content app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="panel price panel-color">
                    <div class="panel-heading bg-primary p-0 text-center">
                        <h4 class="text-fixed-white price-heading">Personal</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead py-3"><strong>$15 /</strong> month</p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><strong> 2 Free</strong> Domain Name</li>
                        <li class="list-group-item"><strong>3 </strong> One-Click Apps</li>
                        <li class="list-group-item"><strong> 1 </strong> Databases</li>
                        <li class="list-group-item"><strong> Money </strong> Back Guarantee</li>
                        <li class="list-group-item border-bottom-0"><strong> 24/7</strong> support</li>
                    </ul>
                    <div class="panel-footer text-center">
                        <a class="btn btn-primary" [routerLink]="['/paiement', 1]">Purchase Now!</a>
                    </div>
                </div>
            </div><!-- COL-END -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-xl-3" style="margin: auto !important; ">
                <div class="panel price panel-color">
                    <div class="panel-heading bg-warning  p-0 text-center">
                        <h4 class="text-fixed-white price-heading">Team</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead py-3"><strong>$25 /</strong> month</p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><strong> 3 Free</strong> Domain Name</li>
                        <li class="list-group-item"><strong>4 </strong> One-Click Apps</li>
                        <li class="list-group-item"><strong> 2 </strong> Databases</li>
                        <li class="list-group-item"><strong> Money </strong> Back Guarantee</li>
                        <li class="list-group-item border-bottom-0"><strong> 24/7</strong> support</li>
                    </ul>
                    <div class="panel-footer text-center">
                        <a class="btn btn-primary" [routerLink]="['/paiement', 2]">Purchase Now!</a>
                    </div>
                </div>
            </div><!-- COL-END -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="panel price panel-color">
                    <div class="panel-heading bg-success p-0 text-center">
                        <h4 class="text-fixed-white price-heading">Businesss</h4>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead py-3"><strong>$99 /</strong> month</p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><strong> 5 Free</strong> Domain Name</li>
                        <li class="list-group-item"><strong>8 </strong> One-Click Apps</li>
                        <li class="list-group-item"><strong> 2 </strong> Databases</li>
                        <li class="list-group-item"><strong> Money </strong> Back Guarantee</li>
                        <li class="list-group-item border-bottom-0"><strong> 24/7</strong> support</li>
                    </ul>
                    <div class="panel-footer text-center">
                        <a class="btn btn-primary" [routerLink]="['/paiement', 3]">Purchase Now!</a>
                    </div>
                </div>
            </div><!-- COL-END -->
        </div>
    </div>
</div>
